



body {
  background-color: black;
  /* border: 5px solid rgba(66, 61, 61, 0.139); */
}
.container {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  margin-top: 10%;
  border-radius: 10px;
  
}
.firstclass {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  padding: 50px 20px;
}

.secondclass {
  background-color: rgb(227, 11, 170);
  width: 94%;
  position: absolute;
  top: -25px;
  left: 150px;
 margin-left: -130px;
 border-radius: 5px;
}

h1 {
  text-align: center;
  padding-inline: 6px;
}

p {
  font-size: 33px;
  font-weight: 600px;
}

@media (min-width: 375px) and (max-width: 500px) {
  .container {
    background-color: white;
    margin: 0 auto;
    width: 80%;
    margin-top: 10%;
    border-radius: 10px
  }
  p {
    padding-block-start: 30px;
  }
}